*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Nunito',sans-serif;
    text-decoration: none;
}
body{
   width: 100%;
   height: auto;
}
h1{
    line-height: 1.5px;
}
.navbar
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding:1rem 2.5rem;
    color: brown;
    z-index: 10;
    background: transparent;
    align-items: center;
}
.navbarlogo a
{
letter-spacing: 2.5;
color: blueviolet;
}
.navmenu
{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navmenu a{
    color: blueviolet; 
}
.navmenuleft
{
   
     display: flex;
    justify-content: space-between;
}
.navmenuleft a{
    color: blueviolet;  
    font-size: 16px;
    font-weight: bolder;
}
.login
{
    padding: 10px 27px;
  text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    text-decoration: none;
    background-color: transparent;
    color: blueviolet;  
    border: .5px solid rgb(116, 35, 97);
}
.register
{
    padding: 10px 27px;
    text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      text-decoration: none;
      background-color: brown;
      color: aliceblue;
      border: .5px;
}
header
{
    margin-top: 100px;
    background-image: url(../images/frk3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.offersession
{
    display: flex;
    justify-content: center;
    align-content: center;
    animation: gradient 15s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;/*animation keyframe name and transition time*/
	height: 13vh;
}
.offercontent
{
    color: bisque;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 25px;
    margin-bottom: 15px;
    box-shadow: 0 .5rem 1rem rgba(20, 20, 20, 0.1);
    border-radius: 2px;
   
}
.animationcontent
{
    display: flex;
    justify-content: center;
    align-content: center; 
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold;
    font-size: 23px;
    text-shadow: 0 .5rem 1rem rgba(185, 29, 29, 0.1);
    text-align: center;
    mix-blend-mode:luminosity;
    
}
